@font-face {
    font-family: Homemade Apple;
    src: url(ASSET/HomemadeApple-Regular.ttf);
   }

   @font-face {
    font-family: Monsterat;
    src: url(FONT/Montserrat-Regular.ttf);
   }

   @font-face {
    font-family: PF;
    src: url(FONT/PlayfairDisplay-Black.ttf);
   }

   a {
    text-decoration: none;
  } 
.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #ffffff;
  width: 1980px;
  height: 4760px;
  scale: 77%;
  right: 250px;
  bottom: 600px;
  position: relative;
  overflow: hidden;
}
.who-we-are {
  color: #3085c3;
  text-align: center;
  font: 700 42px "PF";
  position: absolute;
  left: calc(50% - 172px);
  top: 414px;
  width: 343px;
  height: 52px;
}
.why-us {
  color: #3085c3;
  text-align: center;
  font: 700 42px "PF";
  position: absolute;
  left: calc(50% - 109px);
  top: 1072px;
  width: 218px;
  height: 33px;
}
.expedition-nusantara-adalah-situs-web-penyedia-informasi-wisata-indonesia-yang-dilengkapi-dengan-fitur-peta-interaktif-situs-ini-bertujuan-untuk-membantu-wisatawan-menemukan-destinasi-wisata-terbaik-di-indonesia-dengan-mudah-dan-nyaman-fitur-peta-interaktif-expedition-nusantara-memudahkan-wisatawan-untuk-menemukan-destinasi-wisata-yang-sesuai-dengan-minat-dan-lokasi-mereka-expedition-nusantara-adalah-situs-web-yang-tepat-bagi-wisatawan-yang-ingin-merencanakan-perjalanan-wisata-ke-indonesia-situs-ini-menyediakan-informasi-yang-lengkap-dan-akurat-serta-fitur-fitur-yang-memudahkan-wisatawan-untuk-menemukan-destinasi-wisata-terbaik {
  color: #3085c3;
  text-align: justify;
  font: 400 28px "Monsterat";
  position: absolute;
  left: calc(50% - 409px);
  top: 539px;
  width: 818px;
  height: 408px;
}
.expedition-nusantara-adalah-pilihan-tepat-untuk-informasi-wisata-indonesia-expedition-nusantara-adalah-situs-web-penyedia-informasi-wisata-indonesia-yang-dilengkapi-dengan-fitur-peta-interaktif-situs-ini-bertujuan-untuk-membantu-wisatawan-menemukan-destinasi-wisata-terbaik-di-indonesia-dengan-mudah-dan-nyaman-expedition-nusantara-memiliki-database-destinasi-wisata-yang-lengkap-mulai-dari-wisata-alam-wisata-sejarah-wisata-budaya-hingga-wisata-kuliner-informasi-yang-tersedia-meliputi-lokasi-alamat-harga-tiket-jam-operasional-dan-fasilitas-yang-tersedia-fitur-peta-interaktif-expedition-nusantara-memudahkan-wisatawan-untuk-menemukan-destinasi-wisata-yang-sesuai-dengan-minat-dan-lokasi-mereka {
  color: #3085c3;
  text-align: justify;
  font: 400 28px "Monsterat";
  position: absolute;
  left: calc(50% - 410px);
  top: 1197px;
  width: 818px;
  height: 486px;
}
.rectangle-112 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 152px;
  width: 1230px;
  height: 647px;
  position: absolute;
  left: 375px;
  top: 1730px;
}
.what-do-we-offer {
  color: #3085c3;
  text-align: center;
  font: 700 42px "PF";
  position: absolute;
  left: calc(50% - 186px);
  top: 2585px;
  width: 372px;
  height: 56px;
}
.rectangle-1122 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 57px;
  width: 584px;
  height: 307px;
  position: absolute;
  left: 386px;
  top: 2870px;
}
.rectangle-113 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 57px;
  width: 584px;
  height: 307px;
  position: absolute;
  left: 386px;
  top: 3218px;
}
.rectangle-114 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 57px;
  width: 584px;
  height: 307px;
  position: absolute;
  left: 1009px;
  top: 2870px;
}
.rectangle-115 {
  background: linear-gradient(to left, #d9d9d9, #d9d9d9);
  border-radius: 57px;
  width: 584px;
  height: 307px;
  position: absolute;
  left: 1009px;
  top: 3218px;
}
.mulai-dari-informasi-wisata-yang-lengkap-hingga-kemudahan-dalam-mengakses-informas-sampai-ke-peta-interaktif-adalah-andalan-kami {
  color: #3085c3;
  text-align: center;
  font: 400 28px "Monsterat";
  position: absolute;
  left: calc(50% - 511px);
  top: 2673px;
  width: 1021px;
  height: 68px;
}
.asterisk-4 {
  width: 609.16px;
  height: 601.28px;
  position: absolute;
  left: 1654px;
  top: 872px;
  overflow: visible;
}
.asterisk-5 {
  width: 609.16px;
  height: 601.28px;
  position: absolute;
  left: -309px;
  top: 2569px;
  overflow: visible;
}

.navbar-about,
.navbar-about * {
  box-sizing: border-box;
}
.navbar-about {
  width: 1980px;
  height: 228px;
  scale: 76.7%;
  position: relative;
  right: 238px;
  bottom: 34px;
  overflow: hidden;
}
.rectangle-107 {
  background: #ffffff;
  border-radius: 0px 0px 100px 100px;
  width: 1980px;
  height: 178px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 12px 41.4px 0px rgba(0, 0, 0, 0.25);
}
.rectangle-108 {
  background: #f4e869;
  border-radius: 0px 0px 100px 100px;
  width: 196px;
  height: 178px;
  position: absolute;
  left: 759px;
  top: 0px;
  box-shadow: 0px 12px 41.4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-111 {
  background: #f4e869;
  border-radius: 0px 0px 100px 100px;
  width: 196px;
  height: 178px;
  position: absolute;
  left: 390px;
  top: 0px;
  box-shadow: 0px 12px 41.4px 0px rgba(0, 0, 0, 0.25);
}

.rectangle-112 {
  background: #f4e869;
  border-radius: 0px 0px 100px 100px;
  width: 196px;
  height: 178px;
  position: absolute;
  left: 210px;
  top: 0px;
  box-shadow: 0px 12px 41.4px 0px rgba(0, 0, 0, 0.25);
}

.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: undefined;
  justify-content: center;
  width: 903px;
  position: absolute;
  left: 220px;
  top: 67px;
}
.maps {
  color: #3085c3;
  text-align: center;
  font: 500 32px "Montserrat-Medium", sans-serif;
  position: relative;
  width: 185px;
  height: 47px;
}
.travel {
  color: #3085c3;
  text-align: center;
  font: 500 32px "Montserrat-Medium", sans-serif;
  position: relative;
  width: 185px;
  height: 47px;
}
.guides {
  color: #3085c3;
  text-align: center;
  font: 500 32px "Montserrat-Medium", sans-serif;
  position: relative;
  width: 185px;
  height: 47px;
}
.about {
  color: #3085c3;
  text-align: center;
  font: 500 32px "Montserrat-Medium", sans-serif;
  position: relative;
  width: 185px;
  height: 47px;
}
.fa-qs {
  color: #3085c3;
  text-align: center;
  font: 500 32px "Montserrat-Medium", sans-serif;
  position: relative;
  width: 185px;
  height: 47px;
}
.search {
  width: 27.88px;
  height: 27.88px;
  position: absolute;
  left: 1781px;
  top: 76px;
  overflow: visible;
}
.search3 {
  width: 26px;
  height: 24px;
  position: absolute;
  left: 1842.88px;
  top: 77.94px;
  overflow: visible;
}
.logo {
  height: auto;
  position: absolute;
  left: 71px;
  top: 67px;
  overflow: visible;
}


.footer {
    position: relative;
    top: 360px;
    right: 120px;
    scale: 77%;
    width: 700px;
    height: 1065px;
  }

  :root {
    --gray-400: rgba(152, 162, 179, 1);
    --gray-500: rgba(102, 112, 133, 1);
    --white: rgba(255, 255, 255, 1);
    --brand-600: rgba(127, 86, 217, 1);
    --gray-300: rgba(208, 213, 221, 1);
    --gray-700: rgba(52, 64, 84, 1);
    --text-md-regular-font-family: "Inter-Regular", Helvetica;
    --text-md-regular-font-weight: 400;
    --text-md-regular-font-size: 16px;
    --text-md-regular-letter-spacing: 0px;
    --text-md-regular-line-height: 24px;
    --text-md-regular-font-style: normal;
    --text-sm-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-sm-semibold-font-weight: 600;
    --text-sm-semibold-font-size: 14px;
    --text-sm-semibold-letter-spacing: 0px;
    --text-sm-semibold-line-height: 20px;
    --text-sm-semibold-font-style: normal;
    --text-md-semibold-font-family: "Inter-SemiBold", Helvetica;
    --text-md-semibold-font-weight: 600;
    --text-md-semibold-font-size: 16px;
    --text-md-semibold-letter-spacing: 0px;
    --text-md-semibold-line-height: 24px;
    --text-md-semibold-font-style: normal;
    --text-sm-medium-font-family: "Inter-Medium", Helvetica;
    --text-sm-medium-font-weight: 500;
    --text-sm-medium-font-size: 14px;
    --text-sm-medium-letter-spacing: 0px;
    --text-sm-medium-line-height: 20px;
    --text-sm-medium-font-style: normal;
    --text-sm-regular-font-family: "Inter-Regular", Helvetica;
    --text-sm-regular-font-weight: 400;
    --text-sm-regular-font-size: 14px;
    --text-sm-regular-letter-spacing: 0px;
    --text-sm-regular-line-height: 20px;
    --text-sm-regular-font-style: normal;
    --shadow-xs: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    --variable-collection-main1: rgba(250, 242, 211, 1);
  }

  .footer .overlap {
    position: relative;
    width: 1980px;
    height: 948px;
    top: 117px;
    left: 32px;
  }

  .footer .mask-group {
    position: absolute;
    width: 1980px;
    height: 881px;
    top: 67px;
    left: 0;
  }

  .footer .text-wrapper {
    position: absolute;
    width: 510px;
    top: 445px;
    left: 117px;
    font-family: "PF";
    font-weight: 900;
    color: #3085c3;
    font-size: 52px;
    letter-spacing: 0;
    line-height: normal;
  }

  .footer .div {
    position: absolute;
    width: 510px;
    top: 445px;
    left: 576px;
    font-family: "PF";
    font-weight: 900;
    color: #3085c3;
    font-size: 52px;
    letter-spacing: 0;
    line-height: normal;
  }

  .footer .group {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 570px;
    left: 123px;
  }

  .footer .group-2 {
    position: absolute;
    width: 548px;
    height: 29px;
    top: 617px;
    left: 123px;
  }

  .footer .text-wrapper-2 {
    position: absolute;
    width: 510px;
    top: 0;
    left: 36px;
    font-family: "Monsterat";
    font-weight: 400;
    color: #3085c3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .footer .icon-mail {
    position: absolute;
    width: 27px;
    height: 21px;
    top: 4px;
    left: 0;
  }

  .footer .group-3 {
    position: absolute;
    width: 551px;
    height: 29px;
    top: 564px;
    left: 580px;
  }

  .footer .expeditionnusantara {
    position: absolute;
    width: 225px;
    height: 19px;
    top: 4px;
    left: 40px;
  }

  .footer .icon-instagram {
    position: absolute;
    width: 28px;
    height: 27px;
    top: 2px;
    left: 0;
  }

  .footer .text-wrapper-3 {
    position: absolute;
    width: 510px;
    top: 569px;
    left: 159px;
    font-family: "Monsterat";
    font-weight: 400;
    color: #3085c3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .footer .group-4 {
    position: absolute;
    width: 543px;
    height: 29px;
    top: 611px;
    left: 590px;
  }

  .footer .icon-facebook {
    position: absolute;
    width: 12px;
    height: 20px;
    top: 1px;
    left: -1px;
  }

  .footer .expedition {
    position: absolute;
    width: 221px;
    height: 19px;
    top: 4px;
    left: 33px;
  }

  .footer .group-5 {
    position: absolute;
    width: 453px;
    height: 34px;
    top: 664px;
    left: 123px;
  }

  .footer .icon-map-pin {
    position: absolute;
    width: 23px;
    height: 28px;
    top: 0;
    left: 0;
  }

  .footer .text-wrapper-4 {
    position: absolute;
    width: 411px;
    top: 0;
    left: 40px;
    font-family: "Monsterat";
    font-weight: 400;
    color: #3085c3;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }

  .footer .made-with-by {
    position: absolute;
    width: 278px;
    top: 884px;
    left: 835px;
    font-family: "Monsterat";
    font-weight: 400;
    color: #5cd2e6;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }

  .footer .line {
    width: 312px;
    left: 117px;
    position: absolute;
    height: 7px;
    top: 532px;
  }

  .footer .img {
    width: 421px;
    left: 568px;
    position: absolute;
    height: 7px;
    top: 532px;
  }

  .footer .asterisk {
    position: absolute;
    width: 511px;
    height: 446px;
    top: 502px;
    left: 1469px;
  }

  .footer .icon-heart {
    position: absolute;
    width: 10px;
    height: 9px;
    top: 891px;
    left: 954px;
  }

  .footer .overlap-group-wrapper {
    position: absolute;
    width: 195px;
    height: 195px;
    top: 0;
    left: 876px;
    box-shadow: 0px 4px 65px #00000040;
  }

  .footer .overlap-group {
    position: relative;
    width: 209px;
    height: 209px;
    top: -7px;
    left: -7px;
    background-color: #ffffff;
    border-radius: 104.5px;
    border: 7px solid;
    border-color: #3085c3;
  }

  .footer .mask-group-2 {
    position: relative;
    width: 116px;
    height: 130px;
    top: 33px;
    left: 40px;
    background-image: url(./img/vector.png);
    background-size: 100% 100%;
  }

  .footer .container {
    display: flex;
    flex-direction: column;
    width: 1712px;
    align-items: flex-start;
    gap: 32px;
    padding: 0px 32px;
    position: absolute;
    top: 846px;
    left: 118px;
  }

  .footer .divider {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 1px;
    background-color: #f4e869;
  }

  .footer .content {
    gap: 32px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }

  .footer .footer-text {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-400);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
  }

  .footer .footer-links {
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    flex: 0 0 auto;
  }

  .footer .footer-link {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-400);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    white-space: nowrap;
    font-style: var(--text-md-regular-font-style);
  }

  .footer .newsletter {
    display: flex;
    flex-direction: column;
    width: 360px;
    align-items: flex-start;
    gap: 16px;
    position: absolute;
    top: 561px;
    left: 1087px;
  }

  .footer .heading {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: var(--text-sm-semibold-font-family);
    font-weight: var(--text-sm-semibold-font-weight);
    color: #3085c3;
    font-size: var(--text-sm-semibold-font-size);
    letter-spacing: var(--text-sm-semibold-letter-spacing);
    line-height: var(--text-sm-semibold-line-height);
    font-style: var(--text-sm-semibold-font-style);
  }

  .footer .email-capture {
    display: flex;
    align-items: flex-start;
    gap: 16px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }

  .footer .input-field {
    flex-direction: column;
    height: 44px;
    align-items: flex-start;
    flex: 1;
    flex-grow: 1;
    display: flex;
    position: relative;
  }

  .footer .div-2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    position: relative;
  }

  .footer .input {
    align-items: center;
    gap: 8px;
    padding: 10px 14px;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
    background-color: var(--white);
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--gray-300);
    box-shadow: var(--shadow-xs);
    display: flex;
    position: relative;
  }

  .footer .content-2 {
    gap: 8px;
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
  }

  .footer .text {
    position: relative;
    flex: 1;
    margin-top: -1px;
    font-family: var(--text-md-regular-font-family);
    font-weight: var(--text-md-regular-font-weight);
    color: var(--gray-500);
    font-size: var(--text-md-regular-font-size);
    letter-spacing: var(--text-md-regular-letter-spacing);
    line-height: var(--text-md-regular-line-height);
    font-style: var(--text-md-regular-font-style);
    background: transparent;
    border: none;
    padding: 0;
  }

  .footer .button {
    align-items: flex-start;
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    all: unset;
    box-sizing: border-box;
  }

  .footer .button-base {
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 10px 18px;
    background-color: #3085c3;
    overflow: hidden;
    border: 1px solid;
    border-color: var(--brand-600);
    box-shadow: var(--shadow-xs);
    display: inline-flex;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    all: unset;
    box-sizing: border-box;
  }

  .footer .text-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--text-md-semibold-font-family);
    font-weight: var(--text-md-semibold-font-weight);
    color: var(--white);
    font-size: var(--text-md-semibold-font-size);
    letter-spacing: var(--text-md-semibold-letter-spacing);
    line-height: var(--text-md-semibold-line-height);
    white-space: nowrap;
    font-style: var(--text-md-semibold-font-style);
  }

