.blog-travel-guides {
  background-color: #faf2d3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.blog-travel-guides .div {
  background-color: #faf2d3;
  overflow: hidden;
  width: 1980px;
  height: 3119px;
  position: relative;
}

a {
  text-decoration: none;
} 

.blog-travel-guides .overlap {
  position: absolute;
  width: 1980px;
  height: 2054px;
  top: 0;
  left: 0;
}

.blog-travel-guides .mask-group {
  position: absolute;
  width: 1980px;
  height: 1028px;
  top: 0;
  left: 0;
}

.blog-travel-guides .text-wrapper {
  position: absolute;
  width: 1538px;
  height: 437px;
  top: 337px;
  left: 221px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Playfair Display-Bold", Helvetica;
  font-weight: 700;
  color: #ffffff;
  font-size: 70px;
  text-align: center;
  letter-spacing: 3.5px;
  line-height: 88.7px;
}

.blog-travel-guides .menu-travel {
  position: absolute;
  width: 1980px;
  height: 228px;
  top: 0;
  left: 0;
}

.blog-travel-guides .overlap-group {
  position: relative;
  height: 178px;
  background-color: #ffffff;
  border-radius: 0px 0px 100px 100px;
  box-shadow: 0px 12px 41.4px #00000040;
}

.blog-travel-guides .overlap-group-2 {
  position: absolute;
  width: 903px;
  height: 178px;
  top: 0;
  left: 220px;
}

.blog-travel-guides .rectangle {
  position: absolute;
  width: 196px;
  height: 178px;
  top: 0;
  left: 353px;
  background-color: #f4e869;
  border-radius: 0px 0px 100px 100px;
  box-shadow: 0px 12px 41.4px #00000040;
}

.blog-travel-guides .navbar {
  display: flex;
  width: 903px;
  align-items: baseline;
  justify-content: center;
  position: absolute;
  top: 67px;
  left: 0;
}

.blog-travel-guides .text-wrapper-2 {
  position: relative;
  width: 185px;
  height: 47px;
  margin-top: -1px;
  margin-left: -11px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #3085c3;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .text-wrapper-3 {
  position: relative;
  width: 185px;
  height: 47px;
  margin-top: -1px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #3085c3;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .text-wrapper-4 {
  position: relative;
  width: 185px;
  height: 47px;
  margin-top: -1px;
  margin-right: -11px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: #3085c3;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .frame {
  position: absolute;
  width: 88px;
  height: 28px;
  top: 76px;
  left: 1781px;
}

.blog-travel-guides .logo {
  position: absolute;
  width: 94px;
  height: 32px;
  top: 67px;
  left: 71px;
}

.blog-travel-guides .rectangle-2 {
  position: absolute;
  width: 1369px;
  height: 1170px;
  top: 884px;
  left: 306px;
  background-color: #ffffff;
}

.blog-travel-guides .indonesia-negara {
  position: absolute;
  width: 1261px;
  top: 940px;
  left: 360px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: justify;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .asterisk {
  position: absolute;
  width: 213px;
  height: 457px;
  top: 1556px;
  left: 1767px;
}

.blog-travel-guides .overlap-2 {
  position: absolute;
  width: 2012px;
  height: 1065px;
  top: 2054px;
  left: -32px;
}

.blog-travel-guides .img {
  position: absolute;
  width: 166px;
  height: 310px;
  top: 755px;
  left: 32px;
}

.blog-travel-guides .footer {
  position: absolute;
  width: 2012px;
  height: 1065px;
  top: 0;
  left: 0;
  background-color: transparent;
}

.blog-travel-guides .overlap-3 {
  position: relative;
  width: 1980px;
  height: 581px;
  top: 484px;
  left: 32px;
}

.blog-travel-guides .mask-group-2 {
  position: absolute;
  width: 1980px;
  height: 502px;
  top: 79px;
  left: 0;
}

.blog-travel-guides .text-wrapper-5 {
  position: absolute;
  width: 510px;
  top: 203px;
  left: 99px;
  font-family: "Playfair Display-Black", Helvetica;
  font-weight: 900;
  color: #3085c3;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .text-wrapper-6 {
  position: absolute;
  width: 510px;
  top: 203px;
  left: 558px;
  font-family: "Playfair Display-Black", Helvetica;
  font-weight: 900;
  color: #3085c3;
  font-size: 52px;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .group {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 328px;
  left: 105px;
}

.blog-travel-guides .group-2 {
  position: absolute;
  width: 548px;
  height: 29px;
  top: 375px;
  left: 105px;
}

.blog-travel-guides .text-wrapper-7 {
  position: absolute;
  width: 510px;
  top: 0;
  left: 36px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #3085c3;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .icon-mail {
  position: absolute;
  width: 27px;
  height: 21px;
  top: 4px;
  left: -1px;
}

.blog-travel-guides .group-3 {
  position: absolute;
  width: 551px;
  height: 29px;
  top: 322px;
  left: 562px;
}

.blog-travel-guides .expeditionnusantara {
  position: absolute;
  width: 225px;
  height: 19px;
  top: 4px;
  left: 40px;
}

.blog-travel-guides .icon-instagram {
  position: absolute;
  width: 28px;
  height: 27px;
  top: 2px;
  left: -1px;
}

.blog-travel-guides .text-wrapper-8 {
  position: absolute;
  width: 510px;
  top: 327px;
  left: 141px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #3085c3;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .group-4 {
  position: absolute;
  width: 543px;
  height: 29px;
  top: 369px;
  left: 572px;
}

.blog-travel-guides .icon-facebook {
  position: absolute;
  width: 12px;
  height: 20px;
  top: 1px;
  left: -1px;
}

.blog-travel-guides .expedition {
  position: absolute;
  width: 221px;
  height: 19px;
  top: 4px;
  left: 33px;
}

.blog-travel-guides .group-5 {
  position: absolute;
  width: 453px;
  height: 34px;
  top: 422px;
  left: 105px;
}

.blog-travel-guides .icon-map-pin {
  position: absolute;
  width: 23px;
  height: 28px;
  top: 0;
  left: 0;
}

.blog-travel-guides .text-wrapper-9 {
  position: absolute;
  width: 411px;
  top: 0;
  left: 40px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #3085c3;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .made-with-by {
  position: absolute;
  width: 278px;
  top: 517px;
  left: 835px;
  font-family: "Montserrat-Regular", Helvetica;
  font-weight: 400;
  color: #5cd2e6;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.blog-travel-guides .line {
  width: 312px;
  left: 99px;
  position: absolute;
  height: 7px;
  top: 290px;
}

.blog-travel-guides .line-2 {
  width: 421px;
  left: 550px;
  position: absolute;
  height: 7px;
  top: 290px;
}

.blog-travel-guides .asterisk-2 {
  position: absolute;
  width: 511px;
  height: 446px;
  top: 135px;
  left: 1469px;
}

.blog-travel-guides .icon-heart {
  position: absolute;
  width: 10px;
  height: 9px;
  top: 524px;
  left: 954px;
}

.blog-travel-guides .overlap-group-wrapper {
  position: absolute;
  width: 157px;
  height: 157px;
  top: 0;
  left: 931px;
  box-shadow: 0px 4px 65px #00000040;
}

.blog-travel-guides .mask-group-wrapper {
  position: relative;
  width: 171px;
  height: 171px;
  top: -7px;
  left: -7px;
  background-color: #ffffff;
  border-radius: 85.5px;
  border: 7px solid;
  border-color: #3085c3;
}

.blog-travel-guides .mask-group-3 {
  position: relative;
  width: 93px;
  height: 105px;
  top: 27px;
  left: 32px;
  background-image: url(./img/vector.png);
  background-size: 100% 100%;
}

.blog-travel-guides .container {
  display: flex;
  flex-direction: column;
  width: 1712px;
  align-items: flex-start;
  gap: 32px;
  padding: 0px 32px;
  position: absolute;
  top: 479px;
  left: 118px;
}

.blog-travel-guides .divider {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  background-color: #f4e869;
}

.blog-travel-guides .content {
  display: flex;
  align-items: center;
  gap: 32px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.blog-travel-guides .footer-text {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--text-md-regular-font-family);
  font-weight: var(--text-md-regular-font-weight);
  color: var(--gray-400);
  font-size: var(--text-md-regular-font-size);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  font-style: var(--text-md-regular-font-style);
}

.blog-travel-guides .footer-links {
  display: inline-flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.blog-travel-guides .footer-link {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-md-regular-font-family);
  font-weight: var(--text-md-regular-font-weight);
  color: var(--gray-400);
  font-size: var(--text-md-regular-font-size);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  white-space: nowrap;
  font-style: var(--text-md-regular-font-style);
}

.blog-travel-guides .newsletter {
  display: flex;
  flex-direction: column;
  width: 360px;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  top: 319px;
  left: 1069px;
}

.blog-travel-guides .heading {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--text-sm-semibold-font-family);
  font-weight: var(--text-sm-semibold-font-weight);
  color: #3085c3;
  font-size: var(--text-sm-semibold-font-size);
  letter-spacing: var(--text-sm-semibold-letter-spacing);
  line-height: var(--text-sm-semibold-line-height);
  font-style: var(--text-sm-semibold-font-style);
}

.blog-travel-guides .email-capture {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.blog-travel-guides .input-field {
  flex-direction: column;
  height: 44px;
  align-items: flex-start;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.blog-travel-guides .div-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.blog-travel-guides .input {
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--gray-300);
  box-shadow: var(--shadow-xs);
  display: flex;
  position: relative;
}

.blog-travel-guides .content-2 {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.blog-travel-guides .text {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--text-md-regular-font-family);
  font-weight: var(--text-md-regular-font-weight);
  color: var(--gray-500);
  font-size: var(--text-md-regular-font-size);
  letter-spacing: var(--text-md-regular-letter-spacing);
  line-height: var(--text-md-regular-line-height);
  font-style: var(--text-md-regular-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.blog-travel-guides .button {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
  border-radius: 8px;
  all: unset;
  box-sizing: border-box;
}

.blog-travel-guides .button-base {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 18px;
  position: relative;
  flex: 0 0 auto;
  background-color: #3085c3;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--brand-600);
  box-shadow: var(--shadow-xs);
  all: unset;
  box-sizing: border-box;
}

.blog-travel-guides .text-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--text-md-semibold-font-family);
  font-weight: var(--text-md-semibold-font-weight);
  color: var(--white);
  font-size: var(--text-md-semibold-font-size);
  letter-spacing: var(--text-md-semibold-letter-spacing);
  line-height: var(--text-md-semibold-line-height);
  white-space: nowrap;
  font-style: var(--text-md-semibold-font-style);
}
